
{{#if noRecords}}
 <article class="message block is-warning">
      <div class="message-header">
        <p>You have no posts! Use the create a post menu option Dashboard -> New Post</p>
        </div>
 </article>
{{else}}
  {{#each posts}}

    <article class="message block is-link">

      <div class="message-header">
        <p>{{this.heading}} - {{format_time this.createdAt}} {{format_date this.createdAt}}</p>
        </span>
        <span class="icon is-right"> 
        <i id={{this.id}}-edit alt="edit" class="far fa-edit is-clickable is-large"></i> 
        <a href=/members/delete/{{this.id}}><i id={{this.id}}-delete alt="delete" class="far fa-trash-alt is-clickable is-large"></i></a>
        </span>
      </div>

      <div class="message-body">
        {{this.content}}
      </div>

    </article>

  <div id={{this.id}}-div class="field is-hidden">
    
    <form action=/members/edit/{{this.id}} method="POST" id="loginForm">
    <label class="label">Title</label>

    <div class="control">
      <input name="heading" class="input" type="text" value={{this.heading}}>
    </div>

    <label class="label">Message</label>
    <div class="control">
      <textarea name="content" class="textarea is-primary" value={{this.content}}></textarea>
    </div>

    <br/>

    <input id={{this.id}}-btn class="button" type="submit" value="Update Post">
</form>
  </div>


  {{/each}}
{{/if}}

<script src="/js/memberDashboard.js"></script>