
      <!-- Hero content: will be in the middle -->
<div class="hero-body">
{{#if isDashboard}}
  {{#each testPost}}
    <article class="message block is-link">
      <div class="message-header">
        <p>{{this.heading}}</p>
        <span class="icon is-one-fith"> 
        <i class="far fa-edit"></i> 
        <i class="far fa-trash-alt"></i>
        </span>
      </div>
      <div class="message-body">
        {{this.content}}
      </div>
    </article>
  {{/each}} 
{{else}}
  {{#each testPost}}
    <article class="message block is-link">
      <div class="message-header">
        <p>{{this.heading}}</p>
      </div>
      <div class="message-body">
        {{this.content}}
      </div>
    </article>
  {{/each}} 
{{/if}}
