
      <!-- Hero content: will be in the middle -->
<div class="hero-body is-half">
{{#if isDashboard}}

  {{#each posts}}
    <article class="message block is-link">
      <div class="message-header">
        <p>{{this.heading}}</p>
         <span class="icon is-right"> 
        <p>{{this.Member.username}} {{this.createdAt}}</p>
        </span>
        <span class="icon is-right"> 
        <i class="far fa-edit"></i> 
        <i class="far fa-trash-alt"></i>
        </span>
      </div>
      <div class="message-body">
        {{this.content}}
      </div>
    </article>
  {{/each}}

  {{else}}
    {{#each posts}}
      <article class="message block is-link">
       <div class="message-header">
          <p>{{this.heading}}</p>
          <p class="is-right">{{this.Member.username}} {{this.createdAt}}</p>
        </div>
        <div class="message-body">
          {{this.content}}
        </div>
      </article>
  {{/each}} 

{{/if}}

</div>