
      <!-- Hero content: will be in the middle -->
<div class="hero-body is-half">

    {{#each posts}}
      <article class="message block is-link">
       <div class="message-header">
          <p><a href=/members/post/{{this.id}}> {{this.heading}}</a></p>
          <p class="is-right is-small"> {{this.Member.username}}  on {{format_date this.createdAt}} @ {{format_time this.createdAt}}</p>
        </div>
        <div class="message-body">
         <a href=/members/post/{{this.id}}> {{this.content}}</a>
        </div>
      </article>
  {{/each}} 





</div>