
      <!-- Hero content: will be in the middle -->
<div class="hero-body is-half">

    {{#each posts}}
      <article class="message block is-link">
       <div class="message-header">
          <p><a href=/members/post/{{this.id}}> {{this.heading}}</a></p>
          <p class="is-right is-small">{{this.Member.username}} {{format_time this.createdAt format_date this.createdAt}}</p>
        </div>
        <div class="message-body">
          {{this.content}}
        </div>
      </article>
  {{/each}} 





</div>