
      <!-- Hero content: will be in the middle -->

      <!-- seems to be a good candidate for partial but dont really understand them enough yet to worry about :) -->

<div class="hero-body is-half">


      <article class="message block is-link">
       <div class="message-header">
          <p>{{postToView.heading}}</p>
          <p class="is-right is-small">{{postToView.Member.username}} {{format_time postToView.createdAt}} {{format_date postToView.createdAt}}</p>
        </div>
        <div class="message-body">
          {{postToView.content}}
        </div>
      </article>

    {{#each postToView.Comments}}  <!--traverse the comments attached to the post-->
        <article class="message block is-warning">
        <div class="message-body">
         <p>{{this.content}} ---- {{this.Member.username}} {{format_date this.created_at}} @ {{format_time this.created_at}}</p>
        </div>  
      </article>
          {{/each}}
          
      <br>
        <div id="replyDiv" class="field is-hidden">
      <form action=/members/newComment/{{postToView.id}} method="POST">
    <label class="label">Message</label>
    <div class="control">
    <textarea name="content" id="replyTA" class="textarea is-primary " placeholder="Textarea"></textarea>
    </div>
    <br>
    <input class="button" type="submit" value="Send Reply">
    </form> 
    </div>
    </article>

      <!-- add new comment --> 
      <a id="replyVisible" class="message block is-info"> Reply to {{postToView.Member.username}} </a>
      <br/><br/>
      <a href="/members/home" id="replyVisible" class="message block is-info"> Back Home </a>
</div>

<script src="/js/newComment.js"></script>
